a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}
.header {
  width: 100%;
  /* height: 60px; */
  background: #000;
  box-sizing: border-box;
  margin-bottom: 0;
}
.header .navbar-brand .logo {
  width: 120px;
  height: 40px;
}
.header .navbar-brand .logo img{
  width: 100%;
  height: 100%;
}
[v-cloak]{
  display: none;
}
.form-group input {
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  outline: unset;
  border: unset;
  padding: 5px;
  padding-right: 20px;
  box-sizing: border-box;
  color: #282828;
}
.header li.headerli {
  display: flex;
  line-height: 60px;
  padding: 0px 25px;
    color: #fff;
    cursor: pointer;
  align-items: center;
  color: #fff;
  font-size: 16px;
}
.header li.headerli:hover{
  color: #0370ff;
}
.header li.headerli:hover .navName a{
  color: #0370ff;
}
.header li.headerli:hover .arrow{
  color: #0370ff;
}
.header li.headerli a span {
  display: inline-block;
  line-height: 30px;
}
.header li.headerli .arrow {
  color: #fff;
  line-height: 30px;
  float: right;
}
.header li.headerli a {
  color: #fff;
  display: flex;
  width: 100%;
}
.header li.headerli a:hover{
  text-decoration: none;
}
.header li.headerli .navName {
  flex: 2;
  padding-right: 5px;
}

.header li.headerli a:hover{
  color: #fff;
}
.header li.headerli a:active {
  color: #fff;
}
.header li.headerli a:visited {
  color: #fff;
}
.header li.headerli:hover a{
  color: #0370ff;
}
.header li.headerli.active a{
  color: #0370ff;
}
.header li.headerli.active .arrow{
  color: #0370ff;
}
.header li.headerli.active span{
  color: #0370ff;
}
.navbar-brand a {
  display: block;
}
.formbox {
  margin: 15px 0;
  padding-top: 0;
  padding-bottom: 0;
}
.formbox {
  position: relative;
  /* float: right !important;
  width: 100%; */
}
.formbox input {
  width: 100%;
}
.formbox .search-btn {
  position: absolute;
  right: 5px;
  top: 8px;
  color: #999;
  cursor: pointer;
}
/* 下拉部分 */
.dropdown {
  width: 100%;
  /* height: 300px; */
  position: absolute;
  top: 65px;
  background: #eee;
  color: #000;
  text-align: center;
  z-index: 10;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
  animation:fadeIn 1s linear;
  -moz-animation:fadeIn 1s linear; /* Firefox */
  -webkit-animation:fadeIn 1s linear; /* Safari and Chrome */
  -o-animation:fadeIn 1s linear; /* Opera */
}
@keyframes fadeIn{
  0%{
    opacity: 0;
    display: block;
  }
  100%{
    opacity: 1;
  }
}

.dropdown > div {
  /* width: 1200px; */
  display: flex;
  /*flex-flow:row;*/
  height: 100%;
  margin: 0 auto;
  /* display: inline-flex; */
}
/* 左边列表 */
.dropdown > div ul.left_ul {
  /* width: 240px; */
  /* height: 100%; */
  border-right: 1px solid #ccc;
  flex: 3;
  padding: 20px;
  box-sizing: border-box;
}
.dropdown ul.left_ul li {
  display: inline-block;
  width: 100%;
  /*height: 40px;*/
  line-height: 40px;
  font-size: 16px;
  cursor: pointer;
}
.right_li_hover {
  border-bottom: 2px solid #ccc;
  font-weight: 600;
}

/* 右边列表 */
.dropdown ul.right_ul {
  /* width: 100%;
  height: 100%; */
  /* display: inline-flex; */
  padding: 30px;
  /*border-left: 1px solid #ccc;*/
  box-sizing: border-box;
  align-items: center;
   display: flex;
}

    .dropdown ul.right_ul li {
   display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
  /* width: 40%; */
  display: inline-block;
}
.dropdown ul.right_ul li p{
  color: #000;
  font-size: 16px;
}
.dropdown ul.right_ul li p:nth-of-type(1){
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.dropdown ul.right_ul li p:nth-of-type(2){
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}
.dropdown ul.right_ul li img {
  width: 100%;
  width: 160px;
  height: 116px;
  /* height: 135px; */
}


.dropdown .dropdownNav0 {
  flex: 6;
  /* width: 960px; */
  position: relative;
}
.dropdown .dropdownNav0 .rightdiv{
  cursor: pointer;
}
.checkMoreClass{
  position: absolute;
  bottom: 10px;
  cursor: pointer;

}
.checkMoreClass:hover{
  text-decoration: none;
}
.headerContainer{
  /*height: 60px;*/
}
.header{
  min-height: 60px;
}
.navbar-default{
    border-color: transparent;
}
@media screen and (max-width: 1000px) {
  .dropdown ul.right_ul{
    flex-direction: column;
  }
  .dropdown ul.right_ul li img{
    width: 85px;
    height: 62px;
  }
  .dropdown{
    left: -1px;
    width: 101%;
    min-height: 430px;
  }
  .dropdown > div{
    min-height: 430px;
  }
}
@media screen and (min-width: 1000px){
  /*.dropdown > div{*/
  /*  display: inline-block;*/
  /*}*/
  .dropdown > div ul.left_ul{
    width: 250px;
    flex: initial;
    display: inline-block;
  }
  .dropdown .dropdownNav0{
    flex: initial;
    width: 1000px;
    display: inline-block;
  }
}
/*.headerContainer>ul.nav {*/
/*  height: 60px;*/
/*}*/
